:root{
    --blue : #1D232C
}
*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: "Poppins", sans-serif;
}
/* nav bar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.navbar-links{
    display: flex;
    column-gap: 20px;
}
.navbar-links a{
    text-decoration: none;
    color: var(--blue);
}
.navbar-links a:hover{
    text-decoration: underline;
    color: var(--blue);
}

/* navbar toggle */
.navbar-menu-toggle{
    display: none;
}

/* side nav-bar */
.side-navbar{
    background-color: var(--blue);
    width: 35%;
    height: 100%;
    position: fixed;
    left: -45%;
    top: 0px;
    padding: 20px;
    color: white;
    transition: 1s;
}
.side-navbar-link{
    margin: 20px;
    margin-bottom: 30px;
}
.side-navbar-links a{
    text-decoration: none;
    color: white;
}
.side-navbar-links a:hover{
    text-decoration: underline;
}
/* Header */
.header{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}
.header-button{
    padding: 10px 20px;
    margin-top: 10px;
    background-color: var(--blue);
    color: white;
    cursor: pointer;
    border-radius: 4px;
    border: none;
}
.header-image{
    border-radius: 5px;
}

/* service */
.service{
    padding: 20px;
}
/* service container 1 */
.service-container-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* service container 2 */
.service-container-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.service-container-2 div{
    background-color: #F2F4F7;
    border-radius: 7px;
    padding: 10px;
}

/* New Arrival */
.new-arrival{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.new-arrival-container{
    position: relative;
    flex-basis: 20%;
    padding: 5px;
}
.new-arrival img{
    border-radius: 5px;
}
.new-arrival button{
    padding: 5% 10%;
    margin-top: 10px;
    color: var(--blue);
    position: absolute;
    top: 50%;
    left: 20%;
    border: none;
    border-radius: 10px;
}

/* news */
.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.news input{
    padding: 11px;
    width: 80vw;
    margin-top: 7px;
    margin-bottom: 10px;
    border: 2px solid var(--blue);
}
.news button{
    padding: 10px 12px;
    margin-top: 10px;
    color: #F2F4F7;
    background-color: var(--blue);
    border-radius: 10px;
    border: none;
}
.news button i{
    padding: 2px;
}

/* footer */
.footer{
    margin-top: 20px;
    padding: 40px;
    background-color: var(--blue);
    color: white;
}
.footer .headingtext{
    position: relative;
    right: 10px;
    margin-bottom: 10px;
}
.footer-icon-container{
    display: flex;
    column-gap: 20px;
    padding: 7px;
    border: none;
}

/* collection.html */
/* product Section */
.product-section{
    margin: 20px;
}

/* product search */
.product-search{
    width: 80%;
    border: 2px solid black;
    display: flex;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;
}
.product-search input{
    border: none;
    background-color: transparent;
    width: 100%;
}
.product-search input:focus{
   outline: none;
}

/* products */
.products{
    display: flex;
    padding: 10px;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 15px;
}
.product-box{
    text-align: center;
    flex-basis: 20%;
}
.product-box img{
    border-radius: 10px;
}

/* contact page */
/* contact-box */
.contact-box{
    text-align: center;
    background-color: var(--blue);
    color: white;
    margin: 20px 150px;
    border-radius: 10px;
    padding: 30px;
}
.contact{
    text-align: left;
}
.contact h2{
    padding-top: 40px;
    padding-left: 20px ;
}
.details{
    position: relative;
    text-align: left;
    padding: 25px;
    bottom: 10%;
}
.details p{
    padding: 7px;
}
.details input{
    width: 95%;
    padding: 18px;
    border-radius: 3px;
    border: none;
    font-size: 20px;
}
.details div{
    padding: 10px;
}
.details input:focus{
    outline: none;
}

/* media query */
@media screen and (max-width:700px){
    .navbar-menu-toggle{
        display: block;
    }
    .navbar-links{
        display: none;
    }
    .header-image{
        display: none;
    }
    .service-container-1{
        display: none;
    }
    .service-container-2{
        flex-direction: column;
    }
}