body,html{
   margin: 0; 
   padding: 0;
   font-family: 'poppins',sans-serif;
   background-color: rgb(159, 205, 205);
}
#wrapper h2, #wrapper div{
    display: flex;
    justify-content: center;
}
h2{
    color: rgb(159, 205, 138);
    letter-spacing: 1px;
}
#input{
    border-radius: 5px;
    border: 2px solid black;
    margin-top: 25px;
    height: 16em;
    width: 250px;
    padding: 20px;
    background-color: rgb(167, 199, 192);
    color:indianred;
}
#input:active{
    border: none;
}
#wrapper{
    height: 500px;
    width: 400px;
    margin: 100px auto;
    background-color: #1f2029;
    border-radius: 10px;
    padding: 30px;
}
button{
    margin-top:20px;
    background-color:rgb(159, 205, 138);
    border-radius: 4px;
    height: 44px;
    font-weight: 600;
    padding: 0 30px;
    letter-spacing: 1px;
    border: none;
    color: #1f2029;
}
button:hover{
    cursor:pointer;
}
#result{
    color:white;
    margin:15px 0px;
    font-size:25px;
}